body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}


.text-sm {
	font-size: 0.85rem;
}

/* -------------------------------- */
/* ---------- Sidebar ------------- */

.sidebar-wrapper {
	height: 100vh;
	overflow: auto;
}

.sidebar-container {
	width: 100%;
}

.nav-link:hover {
	cursor: pointer;
}

.sidebar-container a {
	color: #fff !important;
	text-decoration: none;
}
.poweredBy {
	font-size: 0.7rem;
}

/* -------------------------------- */
/* ------ Profile Picture --------- */

.modalPFP {
	width: 150px;
	height: 150px;
	margin: auto;
}

.modalPFP img {
	border: 3px solid tomato;
}

.change-image-label {
  position: absolute;
  bottom: -8%;
  right: -5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 50%;
  background-color: white;
	border: 3px solid tomato;
	transition: opacity 0.5s ease-in-out;
	font-size: 1.15rem;
	color: tomato;
}
/* center align i  */
.change-image-label i {
	position: absolute;
	top: 52%;
	left: 51%;
	transform: translate(-50%, -50%);
}

.change-image-label:hover {
	opacity: 1;
  background-color: tomato;
	color: white;
}

.change-image-label input[type="file"] {
  display: none;
}


/* -------------------------------- */
/* ------- Appointments ---------- */

.appointment-card {
}

/* -------------------------------- */
/* ------- Media Queries ---------- */
